<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.hubert">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <supports-screens
        android:xlargeScreens="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2753645322508525~9181318898"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.hubert.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".Activities.MainActivity"
            android:label="Contributions"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DisplayAList"
            android:label="@string/title_activity_display_a_list"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.hubert.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.AddAContribution"
            android:label="@string/title_activity_add_a_contribution" />
        <activity
            android:name=".Activities.ContributionSummaryActivity"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.hubert.Activities.MainActivity" />
        </activity>
        <activity android:name=".Activities.HistoryActivity" />
        <activity
            android:name=".Activities.MemberActivity"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.hubert.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.MemberSummaryActivity"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.hubert.Activities.MainActivity"/>
        </activity>
    </application>

</manifest>